.footer {
  background-color: gray;
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  li {
    margin: 5px;
    list-style: none;
  }
}
