/* Coolors Exported Palette - coolors.co/fcefef-fc7e88-7fd8be-a1fcdf-fcd29f */

/* HSL */
$color1: hsla(0%, 68%, 96%, 1);
$color2: hsla(355%, 95%, 74%, 1);
$color3: hsla(162%, 53%, 67%, 1);
$color4: hsla(161%, 94%, 81%, 1);
$color5: hsla(33%, 94%, 81%, 1);

/* RGB */
$color1: rgba(252, 239, 239, 1);
$color2: rgba(252, 126, 136, 1);
$color3: rgba(127, 216, 190, 1);
$color4: rgba(161, 252, 223, 1);
$color5: rgba(252, 210, 159, 1);
