.top-wrapper {
  background-image: url("/img/cover.jpg");
  background-size: cover;

  min-height: 80vh;
  position: relative;
}

.top-wrapper::before {
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
}

.top-container {
  position: absolute;
  color: white;
  opacity: 0.8;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  font-family: "Sawarabi Mincho";
}

.btn {
  padding: 0.6em 1em;
  border-radius: 0.6em;
}
